
.horizontal-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}

.vertical-grid-container{
    min-height: 100vh;
    min-height: 100dvh;
    display:grid;
    grid-template-rows: auto 1fr auto ;
    align-items: center;
}


.menu-container{
    background-color: lightblue;
    margin-top: 10px;
    
}

.menu-row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.menu-item{
    background-color: pink;
    flex-basis: 100px;
    text-align: center;
}

.menu-item:hover{
    background-color: brown;
}



.paths-container{
    background-color: aquamarine;
}

.paths-row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.paths-item{
    background-color: pink;
    flex-basis: 100px;
    text-align: center;
}

.paths-item:hover{
    background-color: brown;
}

.actions-container{
    background-color: aquamarine;
}

.actions-row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.actions-item{
    background-color: pink;
    flex-basis: 100px;
    text-align: center;
}

.actions-item:hover{background-color: brown;}

/*  */

.stats-container{
    background-color: skyblue;
    margin-top: 10px;
    
}

.stats-row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.stats-item{
    background-color: lightgrey;
    flex-basis: 100px;
    text-align: center;
}

.stats-item:hover{
    background-color: brown;
}

.output-container{
    display:flex;
    justify-content: space-around;
    background-color: plum;
}

.output-item{
    display: flex;
    flex-basis: 100px;
    text-align: center;
    align-items:center;
    justify-content: center;
    background-color: darksalmon;
}