


.menu-container{
    background-color: aquamarine;
    
}

.menu-row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.menu-item{
    background-color: pink;
}

.menu-item:hover{
    background-color: brown;
}
